<%- include ("partials/head.ejs") %>
<section class="search">
	<div class="bar">
		<form id="search-form">
			<label for="">
				Search
				<input type="search" name="q">
			</label>
			<button form="search-form">Search</button>
		</form>
		<ul></ul>
	</div>
	<div class="playlist">
		<h2>Queue</h2>
		<ul></ul>
	</div>
</section>

<div class="container">
	<%- include ("partials/header.ejs") %>
	<section class="chat">
		<ul></ul>
		<form id="user-form" class="user">
			<div>
				<legend>Register</legend>
				<label for="">
					Choose a username
					<input type="text" id="username">
				</label>
				<button form="user-form">Send</button>
			</div>
		</form>
	</section>

	<section class="message-container">
		<div class="player">
			<img class="player__tbn" src="" alt="">
			<h3><a href=""></a></h3>
			<img class="player__is-playing" src="" alt="">
		</div>
		<form id="message-form">
			<div>
				<legend>Chat</legend>
				<label for="">
					<span>Write a message</span>
					<input type="text" id="message" placeholder="Type a message" required>
				</label>
				<button form="message-form">Send</button>
			</div>
		</form>
	</section>
</div>
<%- include ("partials/footer.ejs") %>