<%- include ("partials/head.ejs") %>
<%- include ("partials/header.ejs") %>
<form action="/join" method="GET">
    <input type="text" name="code" id="code">
    <button>Join a radio</button>
</form>
<a href="/login">Host a Radio</a>
<%- include ("partials/footer.ejs") %>