<%- include ("partials/head.ejs") %>

<section class="landing">
    <h1>Listen together under the same sky</h1>
    <p>To join or host a radio you must login with Spotify</p>
    <a href="/login">Login</a>
</section>
<%- include ("partials/footer.ejs") %>