<%- include ("partials/head.ejs") %>
<%- include ("partials/header.ejs") %>

<section>
    <h1>Listen together</h1>
    <!-- <form action="/join" method="GET">
        <input type="text" name="code" id="code">
        <button>Join a radio</button>
    </form> -->
    <a href="/login">Login</a>
</section>
<%- include ("partials/footer.ejs") %>