:root {
    --steel-000: #FFFFFF;
    --steel-100: #F6F7F9;
    --steel-200: #E7EBEF;
    --steel-300: #D9DFE6;
    --steel-400: #bdc6d3;
    --steel-500: #A0AEC0;
    --steel-600: #909DAD;
    --steel-700: #606873;
    --steel-800: #484E56;
    --steel-900: #30343A;
    --teal-100: #EBF7F7;
    --teal-200: #CDECEA;
    --teal-300: #AFE0DE;
    --teal-400: #74C9C5;
    --teal-500: #38B2AC;
    --teal-600: #32A09B;
    --teal-700: #226B67;
    --teal-800: #19504D;
    --teal-900: #113534;
    --yellow-200: #FAF089;
    --yellow-300: #FAF089;
    --yellow-400: #F6E05E;
    --yellow-500: rgb(190, 190, 186);
    --yellow-800: #975A16;
    --yellow-900: #744210;
}

body {
    background-color: var(--steel-300);
    color: var(--grey-900);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
}

ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

section ul li {
    background-color: var(--steel-000);
    list-style-type: none;
    border-radius: .625em;
    padding: .625em 1em;
    margin: 1em 0;
    min-height: 1em;
    transition: 1s all ease-in-out;
}

ul li span:last-of-type {
    color: var(--teal-800);
    font-style: italic;
    display: inline-block;
}

ul li span,
ul li span:first-of-type {
    color: var(--steel-700);
    font-style: normal;
    text-transform: lowercase;
    display: block;
}

ul li.server {
    background-color: var(--steel-200);
    align-self: flex-end;
}

ul li.learn {
    background-color: var(--yellow-300);
    color: var(--yellow-900);
}

ul li.learn span {
    color: var(--yellow-800);
}

ul li.me {
    align-self: flex-end;
    background-color: var(--teal-400);
    color: var(--teal-900);
}

ul li.me span {
    color: var(--teal-800);
    display: block;
}

main {
    position: relative;
    padding: 0 1em;
}

main section {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

#message-form {
    background-color: var(--steel-000);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

#message-form div {
    display: flex;
    padding: 1em;
    flex-direction: row;
    flex-wrap: wrap;
}
#message-form div label {
    align-items: center;
    flex: 1;
    display: flex;
    position: relative;
}

#message-form div label span:first-child {
    opacity: 0;
    height: 0;
    width: 0;
}

#message-form div label span {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 1.6em;
}

#message-form div label input {
    background-color: var(--steel-200);
    border: 0;
    border-radius: .625em;
    flex: 1;
    padding: .5em;
    margin: 0 1em;
}

input {
    background-color: var(--steel-000);
    border: 0;
    border-radius: .625em;
    flex: 1;
    padding: .5em;
    margin: 0 1em;
}

#message-form div button {
    border: 0;
    border-radius: .625em;
    background-color: var(--teal-500);
    color: var(--teal-900);
}

button {
    border: 0;
    border-radius: .625em;
    background-color: var(--steel-500);
    color: var(--steel-900);
}

div {
    border: none;
    padding: 0;
}

div legend {
    opacity: 0;
    height: 0;
    width: 0;
}

#user-form {
    background-color: var(--steel-200);
    align-self: flex-end;
    border-radius: .625em;
    padding: .625em 1em;
    margin: 1em 0;
    min-height: 1em;
    transition: .3s opacity ease-in-out;
}

#language-form legend{
    opacity: 1;
    height: auto;
}

/* #user-form:before {
    content: '';
    background-color: rgba(48, 52, 58, .3);
    background-color: var(--steel-000);
    height: 100%;
    width: 100%;
    display: block;
    z-index: -1;
    bottom: 0;
    position: absolute;
    top: 0;
} */

.commands {
    background-color: var(--steel-000);
    bottom: 4em;
    overflow-x: scroll;
    position: absolute;
    padding: 1em;
    height: 20em;
    width: 100%;
    z-index: 1;
    opacity: 0;
    height: 0;
    transition: .3s height ease-in-out;
}

.commands.active {
    height: 20em;
    opacity: 1;
}

.commands ul li {
    margin: .625em;
    list-style: none;
}

.command {
    color: var(--steel-700);
    width: .625em;
}

.command img {
    width: 100%;
}