:root {
    --steel-000: #FFFFFF;
    --steel-100: #F0F2F5;
    --steel-200: #BEC7D0;
    --steel-300: #D9DFE6;
    --steel-400: #bdc6d3;
    --steel-500: #657381;
    --steel-600: #5C6975;
    --steel-700: #3C454E;
    --steel-800: #2D3339;
    --steel-900: #1F2429;
    --vanilla-500: #FFD082;
    --vanilla-900: #4D3E28;
}

body {
    background-color: var(--steel-900);
    color: var(--steel-200);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
}

header {
    background-color: var(--steel-700);
    padding: 1em;
}

header ul li {
    text-align: center;
    flex: 1;
}

header ul li h1 {
    font-size: 1em;
    margin: 0;
}

header ul li a {
    color: var(--steel-200);
}

a {
    color: var(--steel-200);
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    list-style: none;
}

input {
    background-color: var(--steel-000);
    border: 0;
    border-radius: .625em;
    flex: 1;
    padding: .5em;
    margin: 0 1em;
}

button {
    border: 0;
    border-radius: .625em;
    background-color: var(--steel-500);
    color: var(--steel-900);
}

/* --------------------------------------------------------
    Chat | container
 * -------------------------------------------------------- */

main {
    position: relative;
}

main section {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

section ul {
    flex-direction: column;
    align-items: flex-start;
}

/* --------------------------------------------------------
    Chat | messages
 * -------------------------------------------------------- */

section ul li {
    background-color: var(--steel-500);
    border-radius: .625em;
    padding: .625em 1em;
    margin: 1em 0;
    min-height: 1em;
    transition: 1s all ease-in-out;
}

section ul li span:last-of-type {
    color: var(--teal-800);
    font-style: italic;
    display: inline-block;
}

section ul li span,
section ul li span:first-of-type {
    color: var(--steel-700);
    font-style: normal;
    text-transform: lowercase;
    display: block;
}

section ul li.server {
    background-color: var(--steel-500);
    align-self: flex-end;
}

section ul li.learn {
    background-color: var(--yellow-300);
    color: var(--yellow-900);
}

section ul li.learn span {
    color: var(--yellow-800);
}

section ul li.me {
    align-self: flex-end;
    background-color: var(--vanilla-500);
    color: var(--vanilla-900);
}

section ul li.me span {
    color: var(--teal-800);
    display: block;
}

/* --------------------------------------------------------
    Message | bottom
 * -------------------------------------------------------- */

.message-container {
    padding: 0;
    background-color: var(--steel-700);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

/* --------------------------------------------------------
    music player
 * -------------------------------------------------------- */

.player {
    align-items: center;
    display: flex;
    background: var(--steel-800);
    border-top: 1px solid var(--steel-600);
    border-bottom: 1px solid var(--steel-600);
}

.player h3 {
    font-size: 1em;
    font-weight: normal;
}

.player img {
    border-radius: .25em;
    height: 2.6em;
    margin: .625em 1em;
}

.player img:last-child {
    width: 1em;
    margin-left: auto;
    margin-right: 1em;
}

/* --------------------------------------------------------
    Form | message
 * -------------------------------------------------------- */

#message-form div {
    display: flex;
    padding: 1em;
    flex-direction: row;
    flex-wrap: wrap;
}
#message-form div label {
    align-items: center;
    flex: 1;
    display: flex;
    position: relative;
}

#message-form div label span:first-child {
    opacity: 0;
    height: 0;
    width: 0;
}

#message-form div label span {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 1.6em;
}

#message-form div label input {
    background-color: var(--steel-800);
    border: 0;
    border-radius: 1em;
    color: var(--steel-200);
    flex: 1;
    padding: .5em;
    margin: 0 1em 0 0;
}

#message-form div button {
    border: 0;
    border-radius: .625em;
    background-color: var(--teal-500);
    color: var(--teal-900);
}

div {
    border: none;
    padding: 0;
}

div legend {
    opacity: 0;
    height: 0;
    width: 0;
}

/* --------------------------------------------------------
    form | username
 * -------------------------------------------------------- */

#user-form {
    background-color: var(--steel-200);
    align-self: flex-end;
    border-radius: .625em;
    padding: .625em 1em;
    margin: 1em 0;
    min-height: 1em;
    transition: .3s opacity ease-in-out;
}

#language-form legend{
    opacity: 1;
    height: auto;
}


.commands {
    background-color: var(--steel-000);
    bottom: 4em;
    overflow-x: scroll;
    position: absolute;
    padding: 1em;
    height: 20em;
    width: 100%;
    z-index: 1;
    opacity: 0;
    height: 0;
    transition: .3s height ease-in-out;
}

.commands.active {
    height: 20em;
    opacity: 1;
}

.commands ul li {
    margin: .625em;
    list-style: none;
}

.command {
    color: var(--steel-700);
    width: .625em;
}

.command img {
    width: 100%;
}